* {
    box-sizing: border-box;
    max-width: 100%;
    max-height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
    text-decoration: none;
}

.clickable {
  cursor: pointer;
}
.icon-row {
  width: 2em;
}
.icon-folder {
  width: 1em;
}
.icon-file {
  width: 0.75em;
}
